body {
	display: flex;
	flex-direction: column;
}

#top {
	display: flex;
	flex-direction: column;

	margin: 0% 10%;
	margin-top: 10%;
	margin-bottom: 5%;
}

#title {
	font-size: 500%;
	color: #8b4513;

	text-align: center;
}

#button {
	text-align: center;
	margin-top: 5%;
}

button {
	width: 100px;
	height: 50px;

	color: #ffffff;
	font-size: 100%;
	background-color: #8b4513;
}

#bottom {
	color: #8b4513;
	font-size: 200%;
	text-align: center;
}
