body {
	display: flex;
	flex-direction: column;
}

#header {
	margin: 2%;
}

hr {
	color: #8B4513;
	border: solid;
	border-width: 1px;
	width: 100%;
}

#mainContent {
	display: flex;
	flex-direction: row;
}

#images {
	flex-grow: 3;
}

#sideBar {
	flex-grow: 1;
	background-color: #8B4513;

	display: flex;
	flex-direction: column;
}

#uploadBox {
	display: flex;
	flex-direction: column;
}

#upload {
	color: #ffffff;
	display: flex;
	flex-direction: row;
}

#uploadDetail {
	display: flex;
	flex-direction: column;
	background-color: #F5DEB3;
}

.uploadDetailButton {
	width: 25%;
	margin: 2%;
	background-color: #8B4513;
	color: #ffffff;
}

#filter {
	color: #ffffff;
}

#filterDetail {
	background-color: #F5DEB3;
}

#filterInput {
	margin: 3%;
	width: 90%;
}

.filterDetailButton {
	background-color: #8B4513;
	color: #ffffff;
	margin: 0% 3%;
	margin-bottom: 3%;
}

#favorites {
	color: #ffffff;
}